@import url(header.css);
#decoracao{
    text-decoration: none;
}
.listamenu > li > a{
    text-decoration: none;
}
.cart-count{
    
        position: absolute;
        top: 40px; /* Ajuste conforme necessário */
        right: 7rem; /* Ajuste conforme necessário */
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
  }
  .icons > a{
    text-decoration: none;
  }
